.name {
    color: goldenrod;
    background: black;
}
.image1 {
    width: 50%;
    height: 300px;  
}
.owned1 {
    color: chocolate;
    background: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}
#owners {
    background: url(https://media.istockphoto.com/photos/dollar-background-picture-id1207164394) ;
    text-align: center;
}